---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';

// Import images
import AboutImage from '../images/about/aboutme.jpg';
---

<BaseLayout title="Sobre Mí | Diegotronics" description="Acerca de Diegotronics">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="Sobre Mí">
				<Image
					width="1553"
					height="873"
					src={AboutImage}
					alt="Diegotronics en el Pico Bolívar de Mérida, Venezuela"
				/>
			</Hero>

			<section>
				<h2 class="section-title">¿Quién es Diegotronics?</h2>
				<div class="content">
					<p>
						Hola, soy Diego Pérez (@diegotronics) nací en Venezuela y sigo viviendo en ella.
						Me apasiona la tecnología, la música y los juegos de estrategia.
					</p>
					<br />
					<p>
						Desde pequeño siempre tuve la curiosidad de saber cómo funcionaban los aparatos electrónicos, desarme muchos, reparé muy pocos y dañe varios.
						Posiblemente, fue la semilla que hizo que años más tarde me graduara de Ingeniero Electrónico en la Universidad Simón Bolívar, ahora también soy desarrollador web y pythonista.
					</p>
					<br />
					<p>
						En la universidad tuve la fortuna de tener un trabajo remoto como programador de microcontroladores para una empresa en Estados Unidos,
						con esa experiencia pude comprobar dos cosas esenciales: el valor de mi tiempo y que mi talento no tiene que estar confinado a mi entorno,
						que puede expandirse y globalizarse.
					</p>
					<br />
					<p>
						El valor de los productos y servicios digitales en nuestra época me impulsan formar parte de esa generación de emprendedores con el
						deseo de hacer herramientas útiles para nuestra región.
						Es mi impulso diario para seguir aprendiendo habilidades nuevas y especializarme en las adquiridas.
					</p>
					<br />
					<p>
						Tengo un trabajo remoto, emprendo en mi tiempo libre y también hago videos para <a href="https://www.youtube.com/@diegotronics" target="_blank" rel="noopener">Youtube</a> de Tecnología, programación e ingeniería (considera suscribirte).
					</p>
					<br />
					<p>
						Si tienes alguna consulta no dudes en contactarme por cualquier red social que aparezca en mi perfil,
						en todas como @diegotronics.
					</p>
					<br />
					<p>
						Nos vemos en la próxima, ¡chao chao!
					</p>
				</div>
			</section>
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
